/* Google font Raleway */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Google font Inter */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin:0;
}

/* shared style  */
.btn-common{
  background-color: #4E47FF; 
  font-size: 16px;
  text-align: center;
  font-weight: 700; 
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.btn-common:hover{
    background-color:rgb(235, 164, 72)
}


/* header */
header{
    background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png");
    background-size: cover;
    max-width: 1440px;
    height: 700px ;

    
    
   

}
/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}
nav h4 {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

/* main */
main{
    background-color: #F5F8FF;
}
/* banner */
.banner-container{
    /* margin: 200px 200px; */
    padding: 150px 200px;
    text-align: center;
    align-items: center;
}

.banner-title {
    /* font-weight: 600; */
    width: 900px;
    font-size: 65px;
    color: #252432;
    text-align: center;
    align-items: center;
    margin-bottom: 37px;
    

}

.banner-btn{
    
     align-items: center;
    text-align: center;


}

/* action section */
.action-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 116px auto;
}

/* action content */
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}

.action-description{
    color: rgba(37, 36, 50, 0.50);
    width: 517px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
    line-height: 30px;
}

.action-img{
    width: 400px;
    height: 300px;
    border-radius: 48px;
    margin-top: 116px;
}