/* Google font Raleway */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Google font Inter */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin:0;
}

/* shared style  */
.btn-common{
  background-color: #4E47FF; 
  font-size: 16px;
  text-align: center;
  font-weight: 700; 
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.btn-common:hover{
    background-color:rgb(235, 164, 72)
}


/* header */
header{
    background-image: url("/B12A01-landing-launchpad/Assets/Hero-bg.png");
    background-size: cover;
    /* width: 1440px; */
    height: 700px ;

    
    
   

}
/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}
nav h4 {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

/* main */
main{
    background-color: #F5F8FF;
}
/* banner */
.banner-container{
    /* margin: 200px 200px; */
    padding: 160px 500px;
    text-align: center;
    align-items: center;
    
}

.banner-title {
    /* font-weight: 600; */
    width: 900px;
    font-size: 65px;
    color: #252432;
    text-align: center;
    align-items: center;
    margin-bottom: 37px;
    

}

.banner-btn{
    
     align-items: center;
    text-align: center;


}

/* action section */
.action-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 116px auto;
}

/* action content */
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}

.action-description{
    color: rgba(37, 36, 50, 0.50);
    width: 517px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
    line-height: 30px;
}

.action-img{
    width: 400px;
    height: 300px;
    border-radius: 48px;
    margin-top: 116px;
}

/* users section */
.users-container{
    background: rgba(78, 71, 255, 0.10);
    border-radius: 24px;
    /* margin: 116px 150px 0px 150px; */
    margin: 116px 250px;
    
}
.users-content-container{
    padding: 50px 80px;
    justify-content: center;
    align-items: center;

}
.users-title{
    color: #252432;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.users-data-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.user-data{
    color:#4E47FF;
    font-size: 80px;
    font-weight: 700;

}

.data-subtitle{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 20px;
    font-weight: 400;

}


/* users review */
.users-review-container{
    margin: 130px 150px;

}

.users-review-title{
    color: #252432;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.review-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px 100px;
}

.card{
    width: 366px;
    /* height: 243px;  */
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}

.stars{
    margin-bottom: 24px;
}
.review-title{
    font-size: 20px;
    margin-bottom: 8px;

}
.review-subtitle{
    font-weight: 400;
    color: #1E1E1E;
    margin-top: 20px;
    margin-bottom: 24px;
    
}

.reviewer-data-container{
    display: flex;
    align-items: center;
    /* margin-top: 24px; */
    
}
.reviewer-img{
    border-radius: 50px;
}

.reviews-content{
    margin-left: 12px;
}

.reviewer-name{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

}
.review-date{
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

/* focus section */
.focus-section-container{
    border-radius: 14px;
    background: #FFF;
    margin: 130px auto;
    text-align: center;
    max-width: 1380px;
    
}

.focus-container{
     padding: 71px 150px;
}

.focus-contents{
    text-align: center;
   
}
.focus-header{
    color: #000;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    
    


}
.focus-subtitle{
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    margin-bottom: 20px;
}
.focus-button {
    font-weight: 500;
    margin-bottom: 20px;
}
.img-container{
    align-items: center;
    text-align: center;
    
}
.focus-image{
    border-radius: 48px;
    align-items: center;

}